<br>
<br>
<br>
<br>

<div>
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-title text-center fw-bold">User Sign In</h2>
      <hr>
      <!-- Form for user sign in -->
       <form >
        <div class="alert alert-danger" *ngIf="errMessage">
          {{ errMessage }}
        </div>

        <!-- Email Address part -->
         <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Email Address"
            formControlName="email"
          />
          <label for="email">Email Address</label>
              <!-- invalid feedback for email address -->
              <div class="invalid-feedback">
                Email address is required.
              </div>
        </div>


        <!-- Password part -->
         <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <label for="password">Password</label>
          <div class="invalid-feedback"> Password is required.</div>
           
        
          <div class="invalid-feedback">
            Password must be at least 8 characters, contain one uppercase letter
            and one number.
          </div>
        </div>

      <!-- Forgot password and reset password link part  -->
      <div class="forgot-password py-2 float-end"><span id="forgot-password"><a href="/">Forgot password?</a></span></div>
        <br>

       <!-- button submit -->
        <div class="text-center mt-4">
          <input type="submit" value="Sign In" class="text-center bg-dark fw-bold width py-2"  >
        </div>
      
     
      <!-- Sign In -->
        <div class="py-2">New to BCRS?<span id="sign-up"><a routerLink="/register">Sign Up</a></span></div>
     </form>
    </div>
  </div>
</div>
